/* CSS declarations go here */

.default_color {
  background-color: #0b7dda !important
}

.default_color_text {
  color: #0b7dda !important
}

.icon-block {
  padding: 0 15px;
}

.delete-button{
  background-color: red !important;
  border-radius: 12px !important;
}

.modal-footer{
  text-align: center !important;
}

#intro, #work, #team {
  padding-top: 4rem;
}

.submit-button {
  border-radius: 12px;
  background-color: #0b7dda;
}

.btn, , .btn-flat {
  border: none;
  border-radius: 2px;
  display: initial;
  padding: 12px 1rem;
  height: 36px;
  line-height: 36px;
  padding: 13 2rem;
  text-transform: none;
  vertical-align: middle;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #0b7dda;
  margin-right: 24px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #0b7dda;
}

.card{
  background-color: #ffffffe6;
  box-shadow: none;
}


.card-height{
  height: 400px;
}

.card-shadow{
  box-shadow: none !important;
}

/*.card_property_details{
  width: 50% !important;
  margin-left: 25% !important;
  left: auto !important;
  right: auto !important;
}*/

#new-card {
  background-image: url("/assets/so.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dashlogin-card {
  background-image: url("/assets/babyme.jpg");
  background-size: auto;
  height: 50%;
}

#login-card {
  background-image: url("/assets/marvin-meyer-571072-unsplash.jpg");
  background-size: cover;
  height: 50%;
  background-repeat: no-repeat;
}

#signup-card {
  background-image: url("/assets/kari-shea-180802-unsplash.jpg");
  background-size: cover;
  height: 50%;
  background-repeat: no-repeat;
}

.row {
  margin-bottom: 0px;
}

.input-border{
  border-bottom-color: red !important;
}



#prop-button {
  margin-top: 90px;
  margin-bottom: 12px;
  margin-right: 150px;
  margin-left: 36%;
  border-radius: 12px;
  background-color: #0b7dda;
}
.btn-large {
  line-height: 15px !important;
}
.card-button {
font-weight: 2000;
}

.nav-button {
  margin-top: -25px;
}

.logged-nav-button {
  margin-top: 0;
}

.adminnav{
  background-color: white;
}

.navbar-fixed{
  height: 64px;
  margin-top: 23px;
  margin-bottom: -23px;
}

#nav-buttons {
  background-color: transparent;
  border-radius: 12px;
  border: none;
}

.nav-icon{
  margin-left: 6px;
}

#banner-links {
  background-color: transparent;
  border-radius: 12px;
  border: none;
  color: #0b7dda;
  margin-left: 34px;
}

.banner-fa {
  color: white;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: white !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #0b7dda;
}

.active{
  color:rgb(0,0,0) !important;
  border-bottom: none !important;
}

.input-border{
  border-bottom: 1px solid rgb(0,0,0) !important;
}

.tabs .tab a {
  color: #0b7dda;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#index-banner {
  background-color:rgba(0, 0, 0, 0.89);
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 375px;
  background-image: url("/assets/david-marcu-1266-unsplash.jpg");
}

.sidenav-banner{
  background-color:rgba(0, 0, 0, 0.89);
  background-blend-mode: multiply;
  background-image: url("/assets/david-marcu-1266-unsplash.jpg");
}

.testimony {
  background-color: rgb(30,28,28);
  background-blend-mode: multiply;
  background-size: cover;
  background-image: url("/assets/copped.png");
}

#testimonials {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #5a55544d;
  transition: box-shadow .25s;
  border-radius: 30px;
  color: white;
}

.text_h {
  padding: 15% 0;
  font-size: 6.0em;
  font-weight: 100;
  color: white;
}

.brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}

.text_h2 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
}

.span_h2 {
  font-weight: 500;
  color: rgb(0,0,0);
}

.text_b {
  text-align: center;
  color: white;
}

.in {
  font-weight: 400 !important;
  font-style: normal !important;
}

.promo i {
  color: #2196F3;
  font-size: 7rem;
  display: block;
}

.card-content a {
  color: #2196F3;
}

.card-content a:hover {
  color: #2196F3;
}

.horizontal {
  background-color: transparent;
}

nav ul a {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
  background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
  color: #2196F3;
}

.cd-headline.type b {
  no-pad-bot visibility: hidden;
}

.cd-headline.type b.is-visible {
  visibility: visible;
}

.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}

.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

0% {
  -webkit-transform: translateY(-50%) scale(1);
  opacity: 1;
}

@-webkit-keyframes cd-pulse {
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 1200;
  /* makes sure it stays on top */
}

#sidenav-overlay {
  z-index: 1;
  opacity: 0px !important;
}

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 4% 0;
    font-size: 5em;
    font-weight: 100;
    color: white;
  }
}

input, textarea {
  border-bottom: 1px solid #fff;
}

nav a.button-collapse {
  left: -25px;
}

.card-avatar .waves-effect {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width:600px) {
  .card-style {
    width: 50% !important;
    margin-left: 25% !important;
    ;
    left: auto !important;
    ;
    right: auto !important;
    ;
  }
}

.card-avatar img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.card-avatar .card-content {
  text-align: center;
}

.card .card-content p {
  margin: 15px 0px;
}

.card-avatar .card-content i {
  font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
  line-height: 30px !important;
}
 .card-title {
  font-weight: 400 !important;
}

.edit_card_content{
  height: 575px;
}

footer.page-footer {
  margin-top: 0px !important;
  padding-bottom: 0px!
}

.hr-style {
  color: #0b7dda;
  width: 60%;
}

.btn:hover, .btn-large:hover {
  background-color: #0b7dda;
}

.input-field label {
  color: rgb(0,0,0);

}

.tab-style{
  margin-bottom: 55px;
  margin-top: 55px;
}

form.example input[type=text] {
  padding: 0px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 50px;
  margin: 110px 71px 30px 23px;
}

form.example button {
  float: left;
  width: 18%;
  height: 41px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 13px;
  border: 1px;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: currentcolor;
  border-radius: 12px;
  border-left: none;
  cursor: pointer;
}
form.second-example button {
  float: left;
  width: 18%;
  height: 41px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 13px;
  border: 1px;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: currentcolor;
  border-radius: 12px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.second-example {
  margin-left: 30px;
  margin-bottom: 18px;
}

.example {
  display: flex;
  margin-top: 125px;
}


#alt-input-field {
  background-color: white;
  border-color: rgb(0,0,0);
  border-bottom-width: 2px;
  outline: none;
  height: 60px;
  width: 88%;
  font-size: 20px;
  margin: 3% 8 0px 10px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  color:rgb(0,0,0);
  text-align: center;
}

#input-field {
  text-align: center;
  background-color: white;
  border: 2px;
  border: 1px solid #9e9e9e;
  border-radius: 0;
  border-color: #0b7dda;
  outline: none;
  height: 41px;
  width: 88%;
  font-size: 20px;
  margin: 3% 8 0px 10px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  border-radius: 12px;
  color: rgb(0, 0, 0);
}

/*extra banners*/
.term-img {
  height: 364px;
  width: 100%;
  background-size: cover;
}

#trying{
  color: rgb(0,0,0);
}

.card-margin{
  width: 75% !important;
  margin-left: 25px !important;
}

#footer-home{
  color: #0b7dda;
}

#separate {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

#listedprop {
  width: 63%;
  margin-left: 135px;
}

.footer-icon {
  color:#0b7dda;
}

.label{
  color: red;
}

#formstyle {
  border-radius: 35px;
  border: 1px solid #0b7dda;
}
.sidenav-style{
  color: #0b7dda;
}

#alt-banner{
  background-color: #00000080;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url("/assets/david-marcu-1266-unsplash.jpg");
}

.liststyle{
  font-weight: 1000;
}

.card-second-alt{
  margin-top: 65px;
}

.prop-detail{
margin-top: 25px;
}

.card-detail{
  margin-top: -10px;
}

.uploaded-image{
  height: 145px;
}

.list-hr{
  color: rgba(0, 0, 0, 0.45);
  width: 87%;
  margin-left: 8px;
}
.alt-hr{
  color: rgb(0, 0, 0);
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid  rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.tabs .tab a.active {
    background-color: #0b7dda !important;
    color: white !important;
    border-radius: 12px;
    border-bottom: none !important;
}

 .tab a:hover{
    background-color: white !important;
    border: 2px;
    border: 1px solid #0b7dda;
    border-radius: 12px;
    /*border-color: #0b7dda;*/
}

.tab-margin{
  margin-top: 50px
}
