/* CSS declarations go here */

.default_color {
  background-color: #0b7dda !important
}

.default_color_text {
  color: #0b7dda !important
}

.icon-block {
  padding: 0 15px;
}

#intro, #work, #team {
  padding-top: 4rem;
}

.submit-button{
  border-radius: 12px;
   background-color: #0b7dda;
}

.btn, .btn-large, .btn-flat{
  border: none;
border-radius: 2px;
display: initial;
padding: 12px 1rem;
height: 36px;
line-height: 36px;
padding: 13 2rem;
text-transform: none;
vertical-align: middle;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color:  #0b7dda;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #0b7dda;
}

#prop-button{
  margin-top: 109px;
   margin-bottom: 12px;
   margin-right: 150px;
   margin-left: 39%;
   border-radius: 12px;
   background-color: #0b7dda;
}
.nav-button{
  margin-top: -25px;

}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #0b7dda;
    will-change: left, right;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color:#0b7dda;
}
.tabs .tab a{
  color:#0b7dda;

width: 100%;
height: 100%;
padding: 0 24px;
font-size: 14px;
text-overflow: ellipsis;
overflow: hidden;
transition: color .28s ease;
}

#index-banner {
  /*


  background-position: center;
  background-repeat: no-repeat;
*/
  background-size: cover;
  width: 100%;
  height: 450px;
  /*min-height: 500px;
  max-height: 664px;*/

  background-image: url("/assets/rawpixel-com-597438-unsplash.jpg");
}

.text_h {
  padding: 15% 0;
  font-size: 6.0em;
  font-weight: 100;
  color: white;
}

.brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}

.text_h2 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
}

.span_h2 {
  font-weight: 300;
  color:#0b7dda;
}

.text_b {
  text-align: center;
  color: #0b7dda;
}

.in {
  font-weight: 400 !important;
  font-style: normal !important;
}

.promo i {
  color: #2196F3;
  font-size: 7rem;
  display: block;
}

.card-content a {
  color: #2196F3;
}

.card-content a:hover {
  color: #2196F3;
}

nav ul a {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
  background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
  color: #2196F3;
}

.cd-headline.type b {
  no-pad-bot visibility: hidden;
}

.cd-headline.type b.is-visible {
  visibility: visible;
}

.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}

.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 1200;
  /* makes sure it stays on top */
}

#sidenav-overlay {
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 4% 0;
    font-size: 5em;
    font-weight: 100;
    color: white;
  }
}

input, textarea {
  border-bottom: 1px solid #fff;
}

nav a.button-collapse {
  left: -25px;
}

.card-avatar .waves-effect {
  text-align: center;
  margin-top: 20px;
}

.card-avatar img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.card-avatar .card-content {
  text-align: center;
}

.card .card-content p {
  margin: 15px 0px;
}

.card-avatar .card-content i {
  font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
  line-height: 30px !important;
}

footer.page-footer {
  margin-top: 0px !important;
}

.hr-style{
color: #0b7dda;
width: 60%;
}
/*tabs*/

.tab a {
  color: green;
}
.tab{
  align-items: center;
}
/*search input form*/

form.example input[type=text] {
  padding: 0px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
    border-radius: 50px;
    margin: 110px 71px 30px 23px;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 13px;
  border: 1px ;
  /*border-left: none;*/
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.search-input{

}


/*card styling*/




/*login/signup*/
